.pk-helper-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    padding: 10px 20px;
    background-color: #5865F2; /* Цвет как у Discord/Playerok */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.pk-helper-btn:hover {
    transform: scale(1.05);
}

.pk-helper-btn.paste {
    bottom: 70px; /* Кнопка вставки чуть выше */
    background-color: #28a745;
}